<section class="hero-section p-4 rounded-3 d-flex align-items-center">
  <div class="row align-items-center">
    <div class="col-md-7">
      <h1 class="hero-title">Máy tính ngày dự sinh</h1>
      <p class="hero-text">Kết quả xét nghiệm thai dương tính sau khi trễ kinh ? Bạn có thể có rất
        nhiều câu hỏi, chẳng hạn như tôi đã mang thai được bao lâu rồi? Và ngày dự sinh của tôi
        là khi nào? Công cụ tính ngày dự sinh của chúng tôi có thể giúp bạn tính toán ngày dự
        sinh hoặc thời điểm em bé chào đời.</p>
    </div>
    <div class="col-md-5 text-center">
      <!-- Hình minh họa -->
      <img src="/assets/img/tools/it8.avif" alt="Hình minh họa chu kỳ kinh nguyệt" class="img-fluid">
    </div>
  </div>
</section>
