<section class="hero-section p-4 rounded-3 d-flex align-items-center">
  <div class="row align-items-center">
    <div class="col-md-7">
      <h1 class="hero-title">Máy tính rụng trứng: Tìm ra những ngày dễ thụ thai nhất của bạn</h1>
      <p class="hero-text">Biết được thời điểm rụng trứng sẽ giúp bạn hiểu rõ hơn về thời điểm thụ
        thai (và khi nào bạn có khả năng mang thai cao). Tìm hiểu thời điểm đó bằng công cụ tính
        ngày rụng trứng dễ sử dụng của Flo.</p>
    </div>
    <div class="col-md-5 text-center">
      <!-- Hình minh họa -->
      <img src="/assets/img/tools/it11.avif" alt="Hình minh họa chu kỳ kinh nguyệt" class="img-fluid">
    </div>
  </div>
</section>
