<section class="content-section mt-3 rounded-3">
  <h3>Những điểm chính cần lưu ý khi sử dụng máy tính thử thai </h3>
  <p>Thông thường, bạn nên đợi đến ngày chậm kinh hoặc mất kinh mới thử thai. Điều này giúp bạn có được kết
    quả chính xác nhất . Có thể bạn tò mò tại sao lại như vậy. Lý do là vì que thử thai tại nhà hoạt động
    theo cơ chế hoạt động của que thử thai bằng nước tiểu . </p>
  <p>Que thử thai tại nhà phát hiện hormone hCG (human chorionic gonadotropin) trong nước tiểu của bạn. Đây
    là hormone được sản xuất khi trứng đã được thụ tinh và làm tổ trong tử cung của bạn. Khi trứng đã
    được thụ tinh, cơ thể bạn bắt đầu sản xuất hCG, và nồng độ của hormone này sẽ tăng lên trong vài
    ngày. </p>
  <h3>Khi nào tôi nên thử thai sau khi chậm kinh?</h3>
  <p>Thời điểm tốt nhất để kiểm tra xem bạn có thai hay không là ngày đầu tiên của kỳ kinh nguyệt bị trễ hoặc
    chậm kinh, hoặc muộn hơn (nếu bạn có thể đợi). Lý do là vì que thử thai sẽ chính xác hơn nếu bạn đợi
    càng lâu. Que thử thai tại nhà thông thường là que thử nước tiểu có thể phát hiện hCG . Đây là dấu hiệu
    đầu tiên cho thấy bạn có thể đã mang thai. Tuy nhiên, có thể mất một thời gian để có đủ hCG trong nước
    tiểu để que thử thai phát hiện . </p>
  <p>Sau khi trễ kinh hoặc mất kinh, nồng độ hCG của bạn phải đủ để một xét nghiệm thông thường phát hiện và
    cho bạn biết rõ ràng liệu bạn có thai hay không. Các nghiên cứu đã báo cáo rằng các xét nghiệm được thực
    hiện vào ngày đầu tiên bạn trễ kinh có thể được coi là có độ nhạy 90% trong việc phát hiện hCG . Con số
    này tăng lên 97% nếu bạn đợi một tuần sau khi trễ kinh. [3] Cảm giác chờ đợi có thể giống như một trò
    chơi chờ đợi. </p>
</section>
