<section class="hero-section p-4 rounded-3 d-flex align-items-center">
  <div class="row align-items-center">
    <div class="col-md-7">
      <h1 class="hero-title">Máy tính chu kỳ kinh nguyệt</h1>
      <p class="hero-text">Việc dự đoán được thời điểm kỳ kinh nguyệt tiếp theo sẽ giúp bạn tránh
        được rất nhiều phiền phức và hiểu rõ hơn về chu kỳ kinh nguyệt của mình. Hãy dự đoán kỳ
        kinh nguyệt tiếp theo ngay bây giờ với công cụ tính chu kỳ kinh nguyệt dễ sử dụng của
        Flo.</p>
    </div>
    <div class="col-md-5 text-center">
      <!-- Hình minh họa -->
      <img src="/assets/img/tools/knside-bar.jpg" alt="Hình minh họa chu kỳ kinh nguyệt" class="img-fluid">
    </div>
  </div>
</section>