<section class="hero-section p-4 rounded-3 d-flex align-items-center">
  <div class="row align-items-center">
    <div class="col-md-7">
      <h1 class="hero-title">Máy tính ngày thử thai</h1>
      <p class="hero-text">Nếu bạn nghĩ mình có thể đang mang thai, việc thử thai ngay lập tức có
        thể khiến bạn thấy hấp dẫn. Nhưng bao lâu thì bạn có thể thử thai? Tìm hiểu thêm về cách
        thức hoạt động của que thử thai và thời điểm bạn có thể thử thai bằng công cụ tính toán
        que thử thai của Flo. </p>
    </div>
    <div class="col-md-5 text-center">
      <!-- Hình minh họa -->
      <img src="/assets/img/tools/it3.avif" alt="Hình minh họa chu kỳ kinh nguyệt" class="img-fluid">
    </div>
  </div>
</section>
