<div [formGroup]="parentForm">
  <div class="main-column">
    <div class="card">

      <div class="form-group">
        <label for="expert-title">Chức danh</label>
        <input type="text" id="expert-title" class="form-control" formControlName="title">
      </div>

      <div class="form-group">
        <label for="expert-bio">Tiểu sử</label>

        <editor apiKey="pjclx1w8kaufuogl0bkot8v8kjzzckbm70wp1ytjswskuy9k" formControlName="bio" [init]="{
      height: 300,
      menubar: false,
      plugins: [
        'advlist', 'autolink', 'lists', 'link', 'charmap',
        'preview', 'anchor', 'searchreplace', 'visualblocks', 'code',
        'help', 'wordcount'
      ],
      toolbar: 'undo redo | blocks | ' +
      'bold italic forecolor | bullist numlist | ' +
      'removeformat | help'
    }">
        </editor>

      </div>

      <div class="form-group">
        <label for="expert-qualifications">Bằng cấp & Chuyên môn</label>
        <editor apiKey="pjclx1w8kaufuogl0bkot8v8kjzzckbm70wp1ytjswskuy9k" formControlName="qualifications" [init]="{
      height: 300,
      menubar: false,
      plugins: [
        'advlist', 'autolink', 'lists', 'link', 'charmap',
        'preview', 'anchor', 'searchreplace', 'visualblocks', 'code',
        'help', 'wordcount'
      ],
      toolbar: 'undo redo | blocks | ' +
      'bold italic forecolor | bullist numlist | ' +
      'removeformat | help'
    }">
        </editor>
      </div>
    </div>
  </div>
</div>